<section style=" 
background:rgb(8, 8, 52);
border-top:7px solid #29254a">

  <div class="container f-bottom d-flex flex-column justify-content-center text-center">
    <img class="mx-auto mt-5" style="width:10em;" src="../../assets/my-logo.png" alt="">
    <h1 style="margin-top:30px;font-weight:800;font-size:30px;color:rgb(73, 205, 73);">Nshimiyimana Jean Luc</h1>
    <p class="mt-5">  
      I tried to make this my Portifolio or proffessional website in the way that makes it easy to reach out me.
      you may either send me an email or book meeting by using top menus.    
      
    </p>
    <p>      
      Exceptional tech-savvy developer with 4 years of professional experience developing intuitively designed, secure
      and responsive website for clients.
    </p>
    <ul class="socials-icon list-unstyled d-flex flex-row justify-content-center flex-wrap">
      <li> <a title="Message me on Whatsap" href="https://wa.me/25783930299"> <i class="fa fa-whatsapp"></i> </a></li>
      <li class="px-2"> <a title="Connect with me on my Proffessional Linkedin Profile" href="https://www.linkedin.com/in/nshimiyimana-jeanluc/"> <i class="fa fa-linkedin"></i> </a></li>
      <li> <a href="https://twitter.com/nshimiye_biond"> <i class="fa fa-twitter"></i> </a> </li>
      <li class="px-2"> <a title="njeanluc828@gmail.com" href="mailto:njeanluc828@gmail.com"> <i class="fa fa-google"></i></a> </li>
      <li> <a title="I would like You to Subscribe to My Youtube Channel" href="https://www.youtube.com/@nshimiyimanajeanluc"><i class="fa fa-youtube"></i></a> </li>
      <li class="px-2"> <a href="https://www.facebook.com/kapendajeanluc.biond"><i class="fa fa-facebook"></i></a> </li>
      <li> <a href="tel:250783930299" title="+250783930299"><i class="fa fa-phone"></i></a> </li>
      <li> <a href="https://www.github.com/nshimiyimano-cloud" title="my GitHub Account"><i class="fa fa-github"></i></a> </li>
      <li> <a href="https://www.instagram.com/nshimiye_biond/" title="You may Follow Me On Instagram"><i class="fa fa-instagram"></i></a> </li>


    </ul>



  </div>
  <hr>
  <div class="last-footer text-center p-3" style="background: #003262; width:100%;">
    <p>
      &COPY;right {{ year }} &nbsp;&nbsp;| &nbsp;&nbsp; V1.2 all rights reserved by <span style="color:rgb(73, 205, 73)">Nshimiyimana Jean Luc</span></p>
    <p> Designed Using Angular 12 | Nodejs technologies, With &hearts; By Nshimiyimana Jean Luc
    </p>

  </div>



</section>