<section class="row container mt-5">
    <div class="contact-desc col-md-6">
        <p>
            hhhhhhhhhhhhhhhhhhhhh
        </p>
        
        

    </div>

    <div class="contact-form col col-md-6">
        <form>
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="names" class="form-control" />
              <label class="form-label" for="names">Name</label>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control" />
              <label class="form-label" for="email">Email address</label>
            </div>
          
            <!-- Message input -->
            <div class="form-outline mb-4">
              <textarea class="form-control" id="message" rows="4"></textarea>
              <label class="form-label" for="message">Message</label>
            </div>
          
            
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block mb-4 w-50 float-md-end ">Send</button>
          </form>

    </div>
    

</section>
