
nav{
    top: 0;
    position: sticky;
    z-index: 2;
}

ul li.nav-item .nav-link{
    font-size: 24px;
    color: darkorchid;
    

}
ul li.nav-item .nav-item .nav-link .active{
    color: black;

}


 /* toggle bar styles */
 .navbar-toggler.nav-toggle-btn {
    background: #159fdb;
    padding: 25px 35px 21px 35px;
    border: none;
    outline: unset;
    border-radius: 0px;
    transition: unset;
    transform: unset;
   }
   
   .navbar-toggler.nav-toggle-btn:focus {
    border: none;
    outline: none;
   }
   
   
   .navbar-toggler.nav-toggle-btn > .bar-line {
    width: 42px;
    height: 6px;
    margin-bottom: 4px;
    background-color: #fff;
   }
    


@media only screen and (max-width: 1400px) {
    nav ul>li a>mat-icon{
        display: none;
    }

}

