<nav class="navbar navbar-expand-lg mb-5" style="background-color: #fff;">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../assets/my-logo.png" width="150"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <ul class="d-flex navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink=""> <mat-icon>home</mat-icon>&nbsp;&nbsp; Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>explore</mat-icon> &nbsp;&nbsp;About
              
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>support</mat-icon>&nbsp;&nbsp;Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>schedule</mat-icon>&nbsp;&nbsp;Schedule Meetup</a>
          </li>
   
  
          <li class="nav-item">
            <a class="nav-link" href="#"> <mat-icon>event</mat-icon> &nbsp;&nbsp;Blog</a>
          </li>
          
         
  
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>school</mat-icon>&nbsp;&nbsp;Certificates</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  routerLink="contactus"><mat-icon>contacts</mat-icon>&nbsp;&nbsp;Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
         
 

  </nav>