<div class="text-center">
    <div style="position:absolute;top:100px;left:50%;">
        <mat-icon class="ring-anomate" style="font-size:35px;color: rgb(45, 227, 45);">notification_important</mat-icon>
    </div>
    <marquee>
        <div class="d-flex justify-content-between " style="color: rgb(100, 152, 100);width:100%;">
            <h3>Get Your Whole Project Ready On Time</h3>
            <h3>Self Development is My Great Strength</h3>
            <h3>Happy To help Others made me to found myself with the Great Potential in Software Development Journey
            </h3>
            <h3>I'm excited to collaborate and bring your visions to life.</h3>
            <h3>I am driven by the desire to stay updated with the latest industry trends and best practices, allowing
                me to leverage cutting-edge technologies and methodologies in my work.
            </h3>
            <h3>Your success is my priority</h3>
            <h3 style="border-right:none ;">What sets me apart? My commitment to crafting seamless and dynamic user
                experiences.</h3>
        </div>
    </marquee>
</div>
<section style="position:relative;">
    <div class="hero-banner-container">


    </div>
    <div class="container">
        <div class="img-profile  align-items-center">


            <img id="sunrizeUnimate" src="../../assets/sunrize.png" alt="">
            <img [src]="'../../assets/profile.jpg'" [alt]="'profile picture'"
                style="box-shadow: 50px 50px #29254a;margin:auto;">

        </div>
        <div class="downloadcv  mx-auto">
            <div class="type d-flex flex-row justify-content-center m-5">
                <h3 style="color: rgb(100, 152, 100);"><span
                        style="color:rgb(123, 123, 231) ;font-weight:bold;font-size:28px ;">Hey There, I
                        am</span>&nbsp;&nbsp;</h3>
                <ngx-typed-js
                    [strings]="['Nshimiyimana Jean Luc','Web Designer','Front End Developer','Backend Developer']"
                    [loop]="true" [typeSpeed]="50" [shuffle]="true">
                    <span class="typing" style="color: rgb(100, 152, 100);font-weight:bold;font-size:25px;"> </span>

                </ngx-typed-js>
            </div>


            <div class="paragrapgh">


                <p class="mb-5">Hello there and Welcome! I am Dev too,How can i help you?,Do you want to expose your
                    Services and Products and your business rise drastically?,Here for you.If you're looking for a
                    detailed overview of my skills, experience, and achievements.
                    Get an in-depth look at my 4 years of expertise as a
                    full-stack developer proficient in Angular, React, MySQL, Bootstrap, WordPress, and Python.
                    I recommend you to Take momment to discover how I can bring value to your projects.</p>


                <!---- <button class="btn btn-primary" >Get My CV<mat-icon>file_download</mat-icon>Get My CV<mat-icon>file_download</mat-icon></button>   -->
                <a [href]="fileURL" target="_blank" mat-raised-button color="primary" class="px-5"
                    download="myresume.pdf">Get My CV<mat-icon>file_download</mat-icon></a>

            </div>
        </div>


    </div>
    <hr />
</section>