.awards{
    background-image: url("../../assets/awards-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.aboutme-wrapper{
    flex-direction: row;
    width: 100%;
}

.img-block,.desc-aboutme{
    width:40%;
}



.hobies .card,.interest .card{    
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;    
    width: 140px;
   height: 130px;
   transition:all 1s ease;
   
}

.hobies .card:hover,.interest .card:hover{
    box-shadow:0px 3px 12px lime;
    transform: translateY(-30px);
    
}

.companies .company-logos{
    background-image: linear-gradient(to bottom right, rgb(40, 44, 68) 30%,rgb(36, 29, 29) 50%);
    height: 300px;
    padding: 30px 2px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow:0px 3px 12px rgb(56, 79, 56);
}

.companies .company-logos img{
    width: 150px;
    height: 90px;
    filter: brightness(70%);
    cursor: pointer;
    

}
.awards{
    height:300px;

}

.awards .card{
      background: #161c2d !important;
    border: unset;
    width: 200px;
}

.awards .card .card-header{    
    border: unset;
   
}

.awards p,.awards h1{
    font-size: 0.9;
    color:rgb(170, 170, 237);
    font-weight: 900;
   
}





@media only screen and (max-width: 1200px) {


.aboutme-wrapper{
    flex-direction: column;
    text-align: center;
    
}

   
.img-block,.desc-aboutme{
    width:96%;
}
.awards,.companies .company-logos{
    height:unset;

}
}
