<section id="aboutMe" class="container">
    <div class="aboutme-wrapper d-flex justify-content-between align-items-center">
        <div class="img-block">
            <div class="img-profile">
                <img src="../../assets/jeanluc-pic1.png"
                    style="background-size:cover;background-position:top left;box-shadow:0px 3px 12px lime;width:100%;"
                    alt="">

            </div>

        </div>

        <div class="desc-aboutme mb-5">
            <div class="d-flex flex-column ">
                <h2 style=" color:rgb(100, 152, 100);font-size:24px;padding:30px 0px;">Nshimiyimana Jean Luc</h2>
                <p>
                    I'm full-stack developer with over 4 years of hands-on experience
                    in the world of web development. My expertise lies in a diverse range of technologies like Angular
                    2+, MySQL,MongoDB,Nodejs,Bootstrap, ReactJS, WordPress, and Python,PHP,API,
                    Docker,AWS Services,Deployment,disigning tools and some collaboration tools.
                </p>

                <p>Throughout my career, I have successfully delivered numerous projects,
                    demonstrating my ability to handle diverse requirements and provide scalable and efficient
                    solutions.
                    My expertise lies in developing robust and dynamic web applications, crafting elegant user
                    interfaces,
                    implementing seamless back-end functionalities and data integrity With 99.9%.
                </p>


                <p class="mb-5">
                    Let's collaborate to transform your ideas into reality.I am a very hard working and self-learner
                    person who is always looking to expand on
                    his skills. I am solution focused and have always taken pride in handling challenging
                    situations quickly and skillfully. In all my service roles I have had to work to tight
                    deadlines and also deal with challenging situation.


                </p>
                <div>
                    
                    <a [href]="'#myPortfolio'"  mat-raised-button color="primary"
                    >View Portfolio</a>
                </div>


            </div>


            <div class="hilighter" style="z-index:-1;
    position:absolute;
    border-radius:50%;
    width:40%;height:50%;
    background: linear-gradient(
    144.39deg,
    #5b3f3f -27.56%,
    #2f2c4c 10%, -78.47%,
    #29254a 10%,
    rgb(36, 29, 29) 91.61%  
    
  );
    left:5%; bottom:-20%;
    transform:rotate(150deg)
    
    "></div>


            <div class="hilighter" style="z-index:-1;
    position:absolute;
    border-radius:50%;
    width:30%;height:50%;
    background: linear-gradient(
    154.39deg,
   
    #f61010 -278.56%,
    #2f2c4c 10%, -78.47%,
    #29254a 10%,
    rgb(36, 29, 29) 91.61%  
  );
    right:5%; bottom:-10%;"></div>








        </div>
    </div>




    <div class="hobies  text-center">
        <h2>Hobbies</h2>
        <p class="mb-5">
            Of course, I don't spend my 24hrs/day programming and coding. I have other hobbies <br />that make my day
            worthwhile.
            I have listed some of my hobbies that might interest you.
        </p>

        <div class="d-flex  flex-row justify-content-center align-items-center flex-wrap-reverse">

            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-futbol"></i>
                </div>
                <div class="card-header">
                    sport
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">school</mat-icon>
                </div>
                <div class="card-header">
                    Learning
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">forum</mat-icon>
                </div>
                <div class="card-header">
                    Join Forum
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <mat-icon>church</mat-icon>
                </div>
                <div class="card-header">
                    Praying
                </div>
            </div>



            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-music"></i>
                </div>
                <div class="card-header">
                    Music
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-pen"></i>
                </div>
                <div class="card-header">
                    Writting
                </div>
            </div>




            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-book"></i>
                </div>
                <div class="card-header">
                    Reading Book
                </div>
            </div>




            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-hiking"></i>
                </div>
                <div class="card-header">
                    Travelling
                </div>
            </div>



            <div class="card m-2">
                <div class="card-header">
                    <mat-icon> tv</mat-icon>
                </div>
                <div class="card-header">
                    Watching
                </div>
            </div>



        </div>


    </div>




    <div class="interest  text-center">
        <h2>Interest</h2>
        <p class="mb-5">
            I have interests in other stuffs too.
            I am not hell bound to the tech ecosystem but they form majority of things that catches my attention.
        </p>

        <div class="d-flex  flex-row justify-content-center align-items-center flex-wrap-reverse">

            <div class="card m-2">
                <div class="card-header">
                    <mat-icon>android</mat-icon>
                </div>
                <div class="card-header">
                    Android
                </div>
            </div>



            <div class="card m-2">
                <div class="card-header">
                    <mat-icon>code</mat-icon>
                </div>
                <div class="card-header">
                    Open Source
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-windows"></i>
                </div>
                <div class="card-header">
                    Windows
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <i class="fa fa-apple"></i>
                </div>
                <div class="card-header">
                    Mac Os
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <mat-icon>colorize</mat-icon>
                </div>
                <div class="card-header">
                    Painting
                </div>
            </div>




            <div class="card m-2">
                <div class="card-header">

                    <mat-icon>palette</mat-icon>
                </div>
                <div class="card-header">
                    Design
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <mat-icon> show_chart</mat-icon>
                </div>
                <div class="card-header">
                    Other Activities
                </div>
            </div>



        </div>



    </div>




    <div class="companies  text-center">
        <h2>Companies</h2>
        <p>
            My journey in software development has been shaped by the remarkable experiences I've gained while working
            with some exceptional organizations. My voyage began at Prime Insurance, where I honed my skills as a web
            developer, learning the intricacies of crafting web solutions that merge functionality with aesthetics. A
            pivotal chapter unfolded at Diocese Ruhengeri,
            where I had the privilege of serving as a frontend developer, focusing on creating seamless and engaging
            user experiences.</p>

        <p>Furthering my quest for knowledge, I embarked on a transformative learning journey at Udacity, specializing
            in full-stack development.
            This educational venture equipped me with a comprehensive understanding of the software development
            landscape, allowing me to delve deeper into the art of creating digital marvels.</p>

        <p>My global expedition took me to Niks Consulting Company in Japan, where I took on the role of a software
            developer. Here, I collaborated with a dynamic team and gained invaluable international exposure,
            contributing to projects that transcended borders.</p>

        <p>Each of these experiences has played a pivotal role in sculpting me into the developer I am today, and I
            carry the lessons and insights from these chapters with pride as I look forward to new horizons in the world
            of software development.
        </p>

        <div class="company-logos d-flex 
         flex-row justify-content-evenly align-items-center
          flex-wrap-reverse pt-5 pb-5">


            <img src="../../assets/prime.jpeg" title="Prime Insurance Company" alt="prime Insurance company">

            <img src="../../assets/trust.jpeg" title="Trust&Care" alt="trust and care">
            <img src="../../assets/udacity.png" title="Udacity" alt="Udacity">
            <img src="../../assets/diocese.png" title="Diocese Of Ruhengeri" alt="Diocese Of Ruhengeri">
            <img src="../../assets/niks.png" title="NiksConsulting Company" alt="Niksconsulting company">

        </div>

    </div>





    <div class="awards  mb-5 mt-5
        mt-5 mb-5 d-flex flex-row
         justify-content-center 
         align-items-center 
         flex-wrap-reverse text-center mt-5 mb-5">


        <div class="card m-2" style="background-color:inherit;">
            <div class="card-header">
                <mat-icon>mood</mat-icon>

            </div>
            <div class="card-body" style="font-size:40px;">
                <h1>84</h1>
                <p>Happy Clients</p>

            </div>
        </div>



        <div class="card m-2" style="background-color:inherit;">
            <div class="card-header">

                <i class="fa fa-award"></i>
            </div>
            <div class="card-body">
                <h1>76</h1>
                <p>Awords</p>
            </div>
        </div>



        <div class="card m-2" style="background-color:inherit;">
            <div class="card-header">
                <mat-icon>share</mat-icon>
            </div>
            <div class="card-body">
                <h1>110</h1>
                <p>Recommendation</p>
            </div>
        </div>


        <div class="card m-2" style="background-color:inherit;">
            <div class="card-header">
                <mat-icon>thumb_up_alt</mat-icon>
            </div>
            <div class="card-body">
                <h1>95</h1>
                <p>Project Ready</p>
            </div>
        </div>







    </div>







</section>