<section id="aboutMe" class="container">
    <div class=" d-flex flex-row justify-content-center align-items-center">
    <div class="img-block">
        <div class="img-profile">
            <img src="../../assets/jeanluc_profile1.png" alt="">

        </div>

    </div>

    <div class="desc-aboutme">
        <div class="d-flex flex-column ">
            <h2>Nshimiyimana Jean Luc</h2>
            <p>
                I'm full-stack developer with over 4 years of hands-on experience
                in the world of web development. If you're in need of a project to be brought to life efficiently
                and effectively, I'm your go-to developer. My expertise lies in a diverse range of technologies that
                include Angular 2+, MySQL,MongoDB,Nodejs/Express Bootstrap, ReactJS, WordPress, and Python,PHP,API,
                Docker,AWS Services,Deployment,Development and some collaboration tools.
            </p>

            <p>Throughout my career, I have successfully delivered numerous projects,
                demonstrating my ability to handle diverse requirements and provide scalable and efficient solutions.
                My expertise lies in developing robust and dynamic web applications, crafting elegant user interfaces,
                and implementing seamless back-end functionalities. I have a deep understanding of database design and
                management,
                deployment,ensuring optimal performance and data integrity With 99.9%.
            </p>
            <p>
                I strive to deliver solutions and serve the best on table with my ful potential that not only meet
                functional
                requirements butalso provide an engaging and intuitive user experience.
            </p>

            <p class="mb-5">
                But I'm more than just a developer
                My commitment to continuous growth led me to pursue specialized training in business
                , honing my skills in strategy, management, and time efficiency. This unique combination
                empowers me to not only create outstanding applications but also ensure they align with your business
                goals.

                Let's collaborate to transform your ideas into reality.
            </p>
            <button class="w-50" mat-raised-button color="primary">View Portfolio</button>


        </div>

    </div>
    </div>




    <div class="hobies  text-center">
        <h2>Hobbies</h2>
        <p>
            Of course, I don't spend my 24hrs/day programming and coding. I have other hobbies <br/>that make my day worthwhile.
             I have listed some of my hobbies that might interest you.
        </p>

        <div class="d-flex  flex-row justify-content-center align-items-center flex-wrap-reverse">

            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-futbol"></i>
                </div>
                <div class="card-header">
                    sport
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">school</mat-icon>
                </div>
                <div class="card-header">
                    Learning
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">forum</mat-icon>
                </div>
                <div class="card-header">
                    Join Forum
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">church</mat-icon>
                </div>
                <div class="card-header">
                    Praying
                </div>
            </div>



            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-music"></i>
                </div>
                <div class="card-header">
                    Music
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-pen"></i>
                </div>
                <div class="card-header">
                    Writting
                </div>
            </div>




            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-book"></i>
                </div>
                <div class="card-header">
                    Reading Book
                </div>
            </div>




            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-hiking"></i>
                </div>
                <div class="card-header">
                    Travelling
                </div>
            </div>



            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary"> tv</mat-icon>
                </div>
                <div class="card-header">
                    Watching
                </div>
            </div>          



        </div>


    </div>




    <div class="hobies m-5 text-center">
        <h2>Interest</h2>
        <p>
            I have interests in other stuffs too. 
            I am not hell bound to the tech ecosystem but they form majority of things that catches my attention.
        </p>

        <div class="d-flex  flex-row justify-content-center align-items-center flex-wrap-reverse">

            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">android</mat-icon>
                </div>
                <div class="card-header">
                    Android
                </div>
            </div>        
           


            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">code</mat-icon>
                </div>
                <div class="card-header">
                    Open Source
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-windows"></i>
                </div>
                <div class="card-header">
                    Windows
                </div>
            </div>

            <div class="card m-2">
                <div class="card-header">
                    <i class="text-primary fa fa-apple"></i>
                </div>
                <div class="card-header">
                    Mac Os
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary">colorize</mat-icon>
                </div>
                <div class="card-header">
                    Painting
                </div>
            </div>




            <div class="card m-2">
                <div class="card-header">
                   
                    <mat-icon class="text-primary">palette</mat-icon>
                </div>
                <div class="card-header">
                    Design
                </div>
            </div>


            <div class="card m-2">
                <div class="card-header">
                    <mat-icon class="text-primary"> show_chart</mat-icon>
                </div>
                <div class="card-header">
                    Other Activities
                </div>
            </div>            



        </div>     



    </div>




    <div class="hobies  text-center">
        <h2>Companies</h2>
        <p>
            Of course, I don't spend my 24hrs/day programming and coding. I have other hobbies <br/>that make my day worthwhile.
             I have listed some of my hobbies that might interest you.
        </p>

        <div class="d-flex  flex-row justify-content-center align-items-center flex-wrap-reverse mt-5 mb-5">

           
                    <img src="../../assets/prime.jpeg"  alt="">               
           
                    <img src="../../assets/trust.jpeg" alt="">            
                     <img src="../../assets/udacity.png" alt="">   
                     <img src="../../assets/diocese.png" alt="">
                     <img src="../../assets/niks.png" alt="">          
                    
         </div>
        
        </div>





        <div class="awards 
        mt-5 mb-5 d-flex flex-row
         justify-content-center 
         align-items-center 
         flex-wrap-reverse text-center mt-5 mb-5" 
         style="height:300px">


         <div class="card m-2" style="background-color:inherit;">
            <div class="card-header">
                <mat-icon class="text-danger">mood</mat-icon>
                
            </div>
            <div class="card-body">
                <h1>84</h1>
                <p>Happy Clients</p>
                
            </div>
        </div> 
        
        

        <div class="card m-2" style="background-color:inherit;">
            <div class="card-header">
                
                <i class="text-danger fa fa-award"></i>
            </div>
            <div class="card-body">
                <h1>7</h1>
                <p>Awords</p>
            </div>
        </div>   
        
        

        <div class="card m-2"  style="background-color:inherit;">
            <div class="card-header">
                <mat-icon class="text-danger">share</mat-icon>
            </div>
            <div class="card-body">
                <h1>110</h1>
                <p>Recommendation</p>
            </div>
        </div>      


        <div class="card m-2" style="background-color:inherit;">
            <div class="card-header">
                <mat-icon class="text-danger">thumb_up_alt</mat-icon>
            </div>
            <div class="card-body">
                <h1>95</h1>
                <p>Project Ready</p>
            </div>
        </div>      







        </div>




    


</section>