<section class="bg-dark text-center" id="services">
    <div class="container">
        <div class="services">
            <h2>{{title}}</h2>
        </div>

        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-12 ">
                <div class="service-inner-block">
                    <img src="../../assets/backend.png" alt="">
                    <h2>FullStack Development</h2>
                    <p>
                        Along with any language I can tigh to find out an apropriate solution depend on your project
                        needs.
                        Whatever your website needs are,
                        I can take it from development
                        to deployment within the shortest possible time without any compromise
                        in security and performance.
                    </p>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="service-inner-block">
                    <img src="../../assets/frontend.png" alt="">
                    <h2>Frontend Design</h2>
                    <p>
                        A service Related frontend/website design, I am here too.
                        Craft bespoke web applications tailored to your unique needs, utilizing a wide array of
                        technologies and frameworks and tools to ensure user-friendly interfaces and customizable,
                        robust functionality, and optimal performance
                    </p>

                </div>

            </div>





            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="service-inner-block">
                    <img src="../../assets/fullstack.png" alt="">
                    <h2>APIs/Backend Development</h2>
                    <p>
                        The source of Reliable App or website is here genuinely. Don't hesitate for any service related
                        database handling,making Apis and deploy to platform like AWS Cluster,cloud and more,making
                        reliable Apis to serve varius system/application you may need.
                        with this enhancement technology can empower your Business and your customers.

                    </p>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="service-inner-block">
                    <img src="../../assets/cms.jpeg" alt="">
                    <h2>Content Management Systems</h2>
                    <p>
                        Create and customize user-friendly CMS platforms like WordPress,Wolf cms or develop
                        bespoke CMS solutions, empowering clients to manage website content effortlessly.
                    </p>

                </div>

            </div>



            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="service-inner-block">
                    <img src="../../assets/logging.jpeg" alt="">
                    <h2>Logging and Testing</h2>
                    <p>
                        Rigorously test applications for functionality, performance, and security, guaranteeing a smooth
                        and bug-free user experience.
                        Efficiently deploy applications, whether it's on cloud platforms, dedicated servers, or other
                        environments.Implement robust logging mechanisms to track and analyze application behavior,
                        allowing for real-time monitoring and proactive issue resolution.

                    </p>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="service-inner-block">
                    <img src="../../assets/amazone-heroku-docker.jpeg" alt="">
                    <h2>Deployment and Containerization</h2>
                    <p>
                        This is essential part in software industry where after building your app;
                        you expose to deliver it to the world securely. With dockenization service you app can be ran
                        for every platform either on Windows,Lunix,Mac Os and more.
                        because it packaging of requirement needed for your app ran smoothly.
                        Efficiently deploy applications, whether it's on cloud platforms, dedicated servers, or other
                        environments
                    </p>

                </div>

            </div>



        </div>


        
        <a href="/#contactUs" class="px-5 py-4 mb-5" color="primary" mat-raised-button>Hire Me</a>



    </div>

</section>

<section style="background-color:  #38004E; padding:15px 0 15px 0;">

    <!----------working history-->

    <div class="container">
        <div class="work-history">
            <h2 class="text-center">Experience Work Flow</h2>
            <p class="text-center">Brief details of some recent work history are being showcased below.
                Each role has corresponding period of participation.</p>


            <div class="exp-desc d-flex align-items-center m-5 ">
                <div class="left-part">
                    <div class="date part">
                        <span>2019-05-01

                        </span>
                    </div>


                    <div class="part text-start mb-5">

                        <h3>Fullstack Developer Tranee</h3>
                        <small>Udacity | America(online)</small>
                        <p>
                           I got Opportunity To get and apply Skills on different real Projects Such as:Make and Consume APis,Testing with Unit Test, Python/Flask, Angular2+, Reactjs, Authorization
                            and Authentication with Auth0 Service,Containarization with Docker,CI/CD Pipeline with Github and Aws Cluster Deployment with some AWS services.
                        </p>
                    </div>

                  





                      <div class="part">

                        <h3>Fullstack Developer</h3>
                        <small>Prime Insurance LMd | Rwanda</small>
                        <p>
                            Delivered performance-driven and user-centric websites, ACID complaint databases,
                            and servers to support backend infrastructures and websites. Designed protocols that
                            detected 20 performance isues,
                            reviewed codebase, debugged problems and corrected underlying bottlenecks.
                        </p>

                    </div>


                    <div class="date part">
                        <span>2022-12-01

                        </span>
                    </div>


                    <div class="part">

                        <h3>Software Developer </h3>
                        <small>NiksConsulting | Japan</small>
                        <p>

                            I had the privilege of being welcomed into Niks Consulting as a full-fledged software
                            developer.
                            It was a testament to their trust in my enthusiasm and commitment to the field.I became
                            deeply involved in a spectrum of operations,
                            ranging from conceptualizing and designing impactful applications to making critical
                            decisions on infrastructure, conducting rigorous testing on the backend.


                        </p>

                    </div>







                </div>


                <div class="right-part">



                    <div class="part sm-put-margin-top">

                        <h3>Frontend Developer</h3>
                        <small>Diocese Of Ruhengeri | Rwanda</small>
                        <p>
                            I dedicated myself to crafting exceptional web experiences.
                            One notable achievement was my involvement in developing the blog website for the Diocese of
                            Ruhengeri.
                            With a commitment to precision and an eye for detail,
                            I ensured that 99% of the project was tailored to their specific needs, resulting in a
                            website that not only met but exceeded their expectations.
                        </p>
                    </div>


                    <div class="date part">
                        <span>2022-03-01

                        </span>
                    </div>



                    <div class="date part">
                        <span>2021-01-01

                        </span>
                    </div>


                    <div class="part text-start">

                        <h3>Software Developer Internship</h3>
                        <small>NiksConsulting | Japan</small>
                        <p>
                            During my enriching 5-month internship as a software developer, I had the privilege of
                            working on a dynamic global team to build a cutting-edge e-commerce web application.

                            Throughout this experience, I embraced the opportunity to meticulously craft code and
                            functionalities under the guidance of a dedicated team lead. I learned the paramount
                            importance of tight deadlines and the significance of committing to tasks on time.
                        </p>
                    </div>



                    <div class="date part">
                        <span>2023-04-01

                        </span>
                    </div>




                   


                </div>

            </div>


        </div>
    </div>
    <hr>





    <div class="proficiency">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
            
                <img src="../../assets/programmer2.jpg" alt="" >
                <h2 class="text-center">Related Tags</h2>


                <mat-chip-listbox class="d-flex flex-wrap-reverse m-3">

                    <mat-chip>
                        <img matChipAvatar src="../../favicon.ico" />
                        #Angular
                    </mat-chip>
                    <mat-chip>
                      
                        #Optimization Techniques
                    </mat-chip>
                    <mat-chip>
                      
                        #Nodejs
                    </mat-chip>
                    <mat-chip>
                       
                        #Password Hashing
                    </mat-chip>
                    <mat-chip>
                        <img matChipAvatar src="../../favicon.ico" />
                        #CI/CD Pipelines
                    </mat-chip>
                    <mat-chip>
                        <img matChipAvatar src="../../favicon.ico" />
                        #Cloud Service
                    </mat-chip>

                    <mat-chip>
                        <img matChipAvatar src="../../assets/reactjs.png" />
                        #React Developer
                    </mat-chip>

                    <mat-chip>
                        <img matChipAvatar src="../../assets/api.png" />
                        #APIs Design
                    </mat-chip>
                    <mat-chip>
                        <img matChipAvatar src="../../assets/mongo.png" />
                        #Mongo Database
                    </mat-chip>

                    <mat-chip>
                        <img matChipAvatar src="../../assets/docker.png " />
                        #Docker
                    </mat-chip>
                    <mat-chip>
                        <img matChipAvatar src="../../assets/amazone.png" />
                        #Amazone Services
                    </mat-chip>

                    <mat-chip color="primary">
                        <img matChipAvatar src="../../assets/backend.png" />
                        #Backend Developer
                    </mat-chip>
                    <mat-chip color="accent">
                        <img matChipAvatar src="../../assets/frontend.png" />
                        #FrontEnd Developer
                    </mat-chip>
                </mat-chip-listbox>



            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 p-5">

                <div id="experience">
                    <h2>EXPERIENCE & PROFICIENCY</h2>

                    <p class="mb-5">From tech stack to specific tools used, you can see how I rate.
                        These ratings are clear demonstration of experiences gained so far from practical use of such
                        tools.</p>
                </div>



                <div class="w-100 mb-3" *ngFor="let skills of skills_proficient">
                    <div>
                        <span class="float-start">
                            <h1>{{skills.title}}</h1>
                        </span>
                        <span class="float-end">
                            <h1>{{skills.level}}</h1>
                        </span>
                        <mat-progress-bar mode="determinate" value={{skills.level}}></mat-progress-bar>
                    </div>


                </div>





            </div>

        </div>
    </div>





</section>