<section class="certificate-wrapper" style="background: #0e242d;">
    <div div class="container d-flex  flex-wrap justify-content-center align-items-center">
    <div class="media">
        <div class="float-start media-top">
          <img src="../../assets/niks.png" class="media-object" style="width:100px;height:100px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certificate name</h4>
          <p>contents</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button mat-raised-button color="primary" (click)="open(nikscertificate)">View Certificate <mat-icon>fullscreen</mat-icon> </button>
        </div>
      </div>


      <div class="media">
        <div class="float-start media-top">
          <img src="../../assets/udacity.png" class="media-object" style="width:100px;height:100px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certificate name</h4>
          <p>contents</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button mat-raised-button color="primary"   (click)="open(udacitycertificate)">View Certificate <mat-icon>fullscreen</mat-icon> </button>
        </div>
      </div>


      <div class="media">
        <div class="float-start media-top">
          <img src="../../assets/cutshort.png" class="media-object" style="width:100px;height:100px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certificate name</h4>
          <p>contents</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button mat-raised-button color="primary" (click)="open(cutshortcertificate)" >View Certificate <mat-icon>fullscreen</mat-icon> </button>
        </div>
      </div>

      <div class="media">
        <div class="float-start media-top">
          <img src="../../assets/onepercent.png" class="media-object" style="width:100px;height:100px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Certificate name</h4>
          <p>contents</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button mat-raised-button color="primary" (click)="open(onepercentcertificate)">View Certificate <mat-icon>fullscreen</mat-icon> </button>
        </div>
      </div>

      

                                                                               
      
     
   
<ng-template #nikscertificate let-modal style="background:inherit;" class="d-flex flex-column justify-content-center align-items-center">
  
  <div class="d-flex justify-content-center align-items-center" style="width:100%;height:100%;background:inherit;">
    <img src="../../assets/niks_certificate2.png"  />
    
  </div>
 
</ng-template>

<ng-template #udacitycertificate let-modal style="background:#000;" class="d-flex flex-column justify-content-center align-items-center">
  
  <div class="d-flex justify-content-center align-items-center" style="width:100%;height:100%;background:#000;">
    <img src="../../assets/udacity_certificate.png"  />
    
  </div>
 
</ng-template>



<ng-template #cutshortcertificate let-modal style="background:#000;" class="d-flex flex-column justify-content-center align-items-center">
  
  <div class="d-flex justify-content-center align-items-center" style="width:100%;height:100%;background:#000;">
    <img src="../../assets/cutshort_certificate.png"  />
    
  </div>
 
</ng-template>




<ng-template #onepercentcertificate let-modal style="background:#000;" class="d-flex flex-column justify-content-center align-items-center">
  
  <div class="d-flex justify-content-center align-items-center" style="width:100%;height:100%;background:#000;">
    <img src="../../assets/onepercentclub_certificate.png"  />
    
  </div>
 
</ng-template>












      </div>

</section>
