.myblog .card a{
    transition: background-color 1s ease-out;
    font-weight: 600;
    color: #3b6787;
    background: cyan;
}

 .myblog .card img{
    transition: all 1s ease-out;
    
    
 }
 .myblog .card img:hover{
   transform: scale(1.2);
   filter: brightness(60%);
   
 }
.myblog .card a:hover{
    background-color: #143146;
}

.myblog .card{
    width: 400px;
    margin: 10px;
    transition: all 1s ease-out;
    
}

.myblog .card:hover{
    box-shadow:0px 3px 12px lime;
    transform: translateY(15px);
    
}

.myblog .card h3{
    font-weight: 900;
    color:rgb(100, 152, 100);

}






.click-prev::before, slick-next::before{
    color: black !important;   
    
}

img-style{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.carousel{
    background: rgba(0, 0, 255,0.1);
    padding: 100px 20px;
}

.carousel .slidecard,.carousel{
    position: relative;

}
.carousel .card{
    box-shadow:0px 3px 12px lime;
    text-align: justify;
}

.myquotes-out{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:-70px;
    top: 10px;
    width:100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(131, 131, 234);
    

}

.slidecard .myquote-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:5px;
    top: -50px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(131, 131, 234);
    
    

}

.myquotes-out i{
   color: white;
    font-size:50px;
    font-weight:900;

}


.slidecard .myquote-inner i{
    color:white;
    font-size:20px;
    font-weight:900;

}

@media only screen and (max-width: 650px) {

.myquotes-out{
display: none;
    }

.carousel .card{
    width: 96% ;
}

.myblog .card,.myblog .card img,.myblog .blog-container{
    width: 100%;   
    
}
    

}




