<section class="myblog" id="myPortfolio">
  <div class="container">
    <h2 class=" text-center">My Portifolio</h2>
    <p class="text-center">As We strive to explore more daily;Below are the possible Site explosed. I tried to apply my skills by working.You may take look on my really work.</p>

    <div class="d-flex flex-row flex-nowrap justify-content-center">
      <button style="background: rgb(50, 50, 105);" mat-raised-button class="m-3 px-5">All</button>
      <button mat-raised-button class="m-3 px-5">Old</button>
      <button mat-raised-button class="m-3 px-5">Recent Project</button>
    </div>

    <div class="d-flex blog-container flex-wrap justify-contennt-center align-items-center">
      <div class="card">
        <img src="../../assets/primesite.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Prime Insurance Company Website</h3>
          <p class="card-text text-dark"> This primary Website which i made for Prime Insurance Ltd and Prime Life
            Insurance Ltd.
            These are insurance companies accredited by the National Bank of Rwanda to provide short-term and life
            insurance.</p>
        </div>
        <div class="card-footer text-center">
          <a class="btn" href="https://www.prime.rw">View This Site On Web</a>
        </div>
      </div>




      <div class="card">
        <img src="../../assets/wtjapan-site.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Window To Japan Website</h3>
          <p class="card-text text-dark"> Website
            for captivating beauty, culture,
            for travelers to get the finest tourist destinations, exchange ideas and showcase photos,and
            expert recommendations for the best hotelsand restaurents in Japan,
            travelers to share their own experiences and ideas.</p>
        </div>
        <div class="card-footer text-center">
          <a class="btn" href="#">View This Site On Web</a>
        </div>
      </div>



      <div class="card">
        <img src="../../assets/yodapizza.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Yoda Pizza Website</h3>
          <p class="card-text text-dark"> Website
            allows customers making order for Pizza,view the best restorants and demostrate best accommodations
          location and best place to plan for travel trip.It is completely built in reactJS </p>
        </div>
        <div class="card-footer text-center">
          <a class="btn" href="https://yoda-pizza.netlify.app/">View This Site On Web<br/><small>On Going not yet Published</small>></a>
        </div>
      </div>




      <div class="card">
        <img src="../../assets/hoobank.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">HooBank</h3>
          <p class="card-text text-dark">This is Single page Application which made in react with high quality
            images,modern UI and UX with gradient and responsiveness
            made for hoobank to manage products and making transaction of customers assets
          </p>
        </div>

        <div class="card-footer text-center">
          <a class="btn" href="https://preeminent-liger-372bf5.netlify.app/">View This Site On Web</a>
        </div>

      </div>


      <div class="card">
        <img src="../../assets/shoppinng-card.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Shopping Card App</h3>
          <p class="card-text text-dark">Shopping cart management website to simplify the shopping experience. With
            user-friendly features and seamless navigation, it's the perfect companion for both shoppers and businesses.
          </p>
        </div>

        <div class="card-footer text-center">
          <a class="btn" href="https://hopeful-benz-757cc9.netlify.app/">View This Site On Web</a>
        </div>

      </div>




      <div class="card">
        <img src="../../assets/trustandcaresite.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Trust and Care Web App</h3>
          <p class="card-text text-dark">This platform was meticulously designed to address multiple aspects of
            their operations, managing students efficiently. The website features a robust student registration
            portal,enrollment and data management,
            tracking of student equipment and sponsorship details,
            authorization and authentication. </p>
        </div>

        <div class="card-footer text-center">
          <a class="btn" href="https://www.apps.trustandcarerwanda.org/">View This Site On Web</a>
        </div>

      </div>



    </div><br /><br />
    <p class="d-flex flex-wrap justify-content-evenly mb-5">
      <button class="px-5"  (click)="open(addsite)" color="primary" mat-raised-button>Add Site</button>
      <a href="/#contactUs" class="px-5 py-4" color="primary" mat-raised-button>Contact Me</a>
    </p>

  </div>

  

  <ng-template #addsite let-modal style="background:#000;"
 
  class="d-flex flex-column justify-content-center align-items-center">

  

  <div class="d-flex justify-content-center align-items-center" style="width:100%;height:100%;background:#000;">
    <div class="jumbotron text-center d-flex  flex-column  justify-content-center align-items-center" style="height:300px;width:100%;padding:20px; box-shadow:0px 3px 12px lime;">
      <img src="../../assets/warn.jpeg" width="200px">
    <h1 style="font-size:30px;">  Please! You Need To Login As Admin of This Site To add new Site</h1>

    </div>

  </div>

</ng-template>



  <div class="testimonial mt-5 mb-5">
    <div class="container text-center">
      <h2>What Clients Say</h2>
      <p>As you explore my portfolio, I want to convey my deep commitment
        to professionalism, expertise, and continuous development. My journey
        as a full-stack developer has been marked by a dedication to crafting exceptional digital solutions.
      </p>
      <p>Almightly I aluays thank you for your Motivation and encouragement; you great support gave me High sprit to never get failure in journey.as we know,
        success reach better and better based on the impression  you made on clients.</p>
    </div>


    <div class="carousel container mx-auto mt-5 mb-3">
      <div class="myquotes-out">
        <i class="fa fa-quote-left"></i>
      </div>

      <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">

        <div ngxSlickItem *ngFor="let slide of slides" class="slide">

          <div class="card " style="border-radius: unset;">

            <img src="{{slide.img}}" class="card-img-top img-style" alt="...">

            <div class="card-body slidecard">
              <div class="myquote-inner">
                <i class="fa fa-quote-left"></i>
              </div>

              <p class="card-text" style="color:inherit;">{{slide.content}}</p>
            </div>
            <div class="card-footer text-center " style="border-top:unset;">
              <h2 style="font-size:unset;padding:unset;" class="card-title">{{slide.name}}</h2>
              <small style="padding:unset; " class="text-muted">{{slide.title}}</small>
            </div>
          </div>

        </div>


      </ngx-slick-carousel>

    </div>

  </div>
</section>