<section class="myblog" id="myPortfolio">
    <div class="container">
    <h1 class="m-5 text-center">My Portifolio</h1>

    <div class="d-flex flex-row flex-nowrap justify-content-center">
        <mat-chip class="m-3">All</mat-chip>
        <mat-chip class="m-3">Old</mat-chip>
        <mat-chip class="m-3">Recent Project</mat-chip>
    </div>

    <div class="d-flex  flex-wrap justify-contennt-center align-items-center">
        <div class="card">
            <img src="../../assets/primesite.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Prime Insurance Company Website</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>




          <div class="card">
            <img src="../../assets/wtjapan-site.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Window To Japan Website</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>


          <div class="card">
            <img src="../../assets/onboarding-site.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Onboarding Website</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>


          <div class="card">
            <img src="../../assets/hoobank.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HooBank</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">https://preeminent-liger-372bf5.netlify.app/</small>
            </div>
          </div>


          <div class="card">
            <img src="../../assets/shoppinng-card.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Shopping Card App</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">https://hopeful-benz-757cc9.netlify.app/</small>
            </div>
          </div>




          <div class="card">
            <img src="../../assets/trustandcaresite.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">https://www.apps.trustandcarerwanda.org/</small>
            </div>
          </div>
          

         
    </div><br/><br/>
    <p class="d-flex flex-wrap w-100 justify-content-evenly mb-5">
      <button  color="primary"  mat-raised-button>Add Site</button>
    <button color="primary"  mat-raised-button>Contact Me</button>
    </p>

</div>


<div class="testimonial text-center">
  <h2>What Clients Say</h2>
  <p>As you explore my portfolio, I want to convey my deep commitment
   to professionalism, expertise, and continuous development. My journey
   as a full-stack developer has been marked by a dedication to crafting exceptional digital solutions.
</p>
  <p>A true measure of professionalism, expertise and development 
    success is based on the impression made on clients.</p>
    

    <div class="carousel container mx-auto">
      <div class="myquotes-out">
        <i class="fa fa-quote-left"></i>
        </div>      
   
      <ngx-slick-carousel
      #slickModal="slick-carousel" 
      
      [config]="slidesConfig">
     
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        
        <div class="card " style="border-radius: unset;">
         
          <img src="{{slide.img}}" class="card-img-top img-style" alt="...">

          <div class="card-body slidecard">
            <div class="myquote-inner">
              <i class="fa fa-quote-left"></i>
              </div> 
            
            <p class="card-text" style="color:inherit;">{{slide.content}}</p>
          </div>
          <div class="card-footer" style="border-top:unset;">
            <h2 class="card-title">{{slide.name}}</h2>
            <small class="text-muted">{{slide.title}}</small>
          </div>
        </div>

      </div>


      </ngx-slick-carousel>

    </div>

</div>
</section>


