/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
:root{
  scroll-behavior: smooth;
}
*{
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
    line-height: 30px;

}

/*   set effect to all button when u hover on it*/

.desc-aboutme button, .contact-form button,
.certificate-wrapper button,#myPortfolio button,
.paragrapgh button{
  padding: 25px 20px;
  transition: all 1s;
  transition-timing-function: ease-in;
  
  
}
button:hover{
  transform: scale(1.3);
  
}


body{
    min-height: 100vh;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }








html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
