/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
:root{
  scroll-behavior: smooth;
}
*{
    color:#9bacc4;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
    line-height: 30px;

}

/*   set effect to all button when u hover on it*/

.desc-aboutme a, .contactus button,
.certificate-wrapper button,#myPortfolio button,
#myPortfolio a, .downloadcv a,#services a{
  padding: 25px 20px;
  transition: all 0.5s ease-in;  
  
}



button:hover,#services a:hover,.downloadcv a:hover,#myPortfolio a:hover,.desc-aboutme a:hover{
  transform: scale(1.3);
  
}


/*  stylying for every h2*/

.interest h2,.hobies h2, .companies h2,.testimonial h2,#myPortfolio h2,
#myCertificates h2,.work-history h2,.services h2,.contactus h2{
  font-size: 1.8em;
  color:rgb(100, 152, 100);
  padding:50px 20px;
}


body{
    min-height: 100vh;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }








html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media only screen and (max-width: 950px) {
  .hilighter{
    display: none;

  }

  *{

    font-size: 16px;
    animation: unset;
    line-height: 25px;

}
  
}